* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/fonts/NanumGothic.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/fonts/NanumGothicBold.ttf') format('truetype');
    font-weight: bold;
}


body {
    font-family: 'NanumGothic';
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
    position: relative;
}

.logo-container {
    position: absolute; /* 상단에 고정 */
    top: 20px;
    left: 25px;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 160px;
}

.login-container {
    width: 340px;
    padding: 40px 20px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 150px; /* 로고와의 간격 */
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="password"],
.login-button,
.signup-button {
    width: 100%;
    padding: 15px;
    border-radius: 18px;
    font-size: 14px;
    margin: 8px 0; /* 모든 요소에 동일한 상하 여백 적용 */
    outline: none;
    box-sizing: border-box; /* padding 포함한 너비와 높이 설정 */
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ddd;
    color: #666;
    text-align: left;
}

.login-button {
    border: none;
    background-color: #29A199;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signup-button {
    border: 1px solid #ddd;
    background-color: white;
    color: #666;
    font-weight: bold;
    cursor: pointer;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
   	margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

.checkbox-container label {
    margin-left: 5px;
}