<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout Page</title>
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/header/writeHeader.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">    

    <!-- highlight.js CSS (atom-one-dark 테마) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/atom-one-dark.min.css">
    
    <!-- highlight.js JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script th:inline="javascript">
        /*<![CDATA[*/
        var sessionUserId = /*[[${session.userDto != null ? session.userDto.userId : 0}]]*/ 0;
        console.log("Loaded sessionUserId: " + sessionUserId); // 확인용 로그
        /*]]>*/
    </script>
</head>
<body>

    <!-- 헤더 포함 -->
    <!-- isWritingForm 값에 따라 헤더 결정 -->
  	<span th:if="${isWritingForm != null}">
  		<div th:replace="~{header/writeHeader :: writeHeader}"></div>
  	</span>
  	 <span th:if="${isWritingForm == null}">
  	  		<div th:replace="~{header/header :: header}"></div>
  	</span>
  	
  	<!-- 각 페이지의 콘텐츠가 들어갈 위치 -->
    <div layout:fragment="content" class="content"></div>
	
	<script src="/js/like.js"></script>
    <script th:if="${isDetailForm}" src="/js/comment.js"></script>
    <script th:if="${isDetailForm}" src="/js/commentUpdate.js"></script>
    <script src="/js/report.js"></script>
    <script src="/js/member.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/home.js"></script>
    <script th:if="${isWritingForm}" src="/js/write.js"></script>
    <script th:if="${isWritingForm}" src="/js/imageUpload.js"></script>
    
</body>
</html>
