<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
    <link rel="stylesheet" th:href="@{/css/post/write.css}">
    <link rel="stylesheet" th:href="@{/css/image.css}">
</head>
<body>
    <div layout:fragment="content" class="write-form-container">
       <form id="postForm" th:action="@{/posts/edit/{postId}(postId=${updatePostCommand.postId})}" 
		      th:object="${updatePostCommand}" method="post">
		    <input type="hidden" th:field="*{postId}">

            <!-- 제목 입력 -->
            <div class="title-container">
                <input type="text" class="title-input" th:field="*{title}" placeholder="제목을 입력하세요" required>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
            </div>

            <!-- 내용 입력 -->
			<div class="content-container" id="contentContainer">    
			    <div class="content-input" id="contentInput" contenteditable="true" th:utext="${updatePostCommand.content}" autofocus></div>
			    <input type="hidden" name="content" id="contentHiddenInput" th:field="*{content}">
			    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
			</div>
			
			<!-- 이미지 URL들 저장하는 hidden input -->
            <input type="hidden" id="imageUrlsInput" th:field="*{imageUrls}">

        </form>
    </div>
</body>
</html>
