<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.console.board.mapper.SuspendedUserMapper">

    <!-- 정지된 사용자 추가 -->
    <insert id="insertSuspendedUser" parameterType="com.console.board.dtos.SuspendedUserDto">
        INSERT INTO SuspendedUser (user_id, reason, start_date, end_date)
        VALUES (#{userId}, #{reason}, #{startDate}, #{endDate})
    </insert>

    <!-- 특정 사용자의 정지 종료 날짜 업데이트 -->
    <update id="updateSuspendedUserEndDate">
        UPDATE SuspendedUser
        SET end_date = #{endDate}
        WHERE user_id = #{userId}
    </update>

    <!-- 특정 사용자의 정지 정보 조회 -->
    <select id="findSuspendedUserByUserId" parameterType="int" resultType="com.console.board.dtos.SuspendedUserDto">
        SELECT suspendedUser_id AS suspendedUserId, user_id AS userId, reason, start_date AS startDate, end_date AS endDate, suspended_days AS suspendedDays
        FROM SuspendedUser
        WHERE user_id = #{userId}
    </select>
    
    <delete id="deleteSuspendedUserByUserId" parameterType="int">
	    DELETE FROM SuspendedUser
	    WHERE user_id = #{userId}
	</delete>
	    

</mapper>
